<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1" style="float: left; width:50%">
        <a href="/"><img src="/assets/images/logos-branding/main_logo_circle.png" alt="Trees Land Critters, LLC" style="float: right; height:75pt"></a>
        <span style="color: white; line-height:1">
          Trees Land Critters, LLC
        </span>
        <br/>
        <span>
          <i>dba</i> TLC Ned
          <br/>
          Nederland, CO
        </span>
        <p><a href="tel:+17207307971">(720)-730-7971</a></p>
        
      </div>
  <div class="footer-col footer-col-2" style="float: right; width:30%">
    <a target="_blank" href="https://www.tcia.org/TCIA/Directories/TreeCareCompanyProfile.aspx?ID=299849"><img src="/assets/images/logos-branding/tcia_member.jpg" alt="Member, Tree Care Industry Association" style="width:30%"></a>
    <a target="_blank" href="https://certificates.isa-arbor.com/300b481f-1562-465b-9422-59e6dc8b66df"> <img src="/assets/images/logos-branding/certarbo.png" alt="ISA Certified Arborist" style="width:30%"></a>
    <a target="_blank" href="https://certificates.isa-arbor.com/2828f74f-c0bc-40a4-85e2-b1a49e6b5619"><img src="/assets/images/logos-branding/utilspec.png" alt="ISA Certified Utility Specialist" style="width:30%"></a>
  </div>
</footer>