<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

   <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <span style="color: white; line-height:1">Trees Land Critters LLC</span><br/>
      <span> <i>dba</i> TLC Ned<br/>
      Nederland, CO</span>
    </div>
    <div class="footer-col footer-col-2">
    </div>

  <div class="footer-col" style="float: right">
    {%- if site.github_username -%}
    <p>
        {% include icon-github.svg %}
      <a href="https://github.com/{{ site.github_username }}">
        {{ site.github_username }}
      </a>
    </p>
    {%- endif -%}
  </div>
</div>

  </div>

</footer>